.card1 {
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    width: 480px;
    padding: 36px;
    border-radius: 24px;
    overflow: hidden;
    line-height: 1.6;
    border: 2px solid #18cf24;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    background-color: #ffffff;
  }

  .card1 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: #000000;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card1 .content .heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    z-index: 1;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card1 .content .para {
    z-index: 1;
    opacity: 0.8;
    font-size: 18px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card1::before {
    content: "";
    position: absolute;
    right: -5.2rem;
    top: -5.2rem;
    width: 10.4rem;
    height: 10.4rem;
    background: #133fb7;
    z-index: 0;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card1::after {
    content: "";
    position: absolute;
    left: -5.2rem;
    bottom: -5.2rem;
    width: 10.4rem;
    height: 10.4rem;
    background: #25aa2e;
    z-index: 0;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card1:hover::before {
    scale: 7;
    opacity: 1;
  }

  .card1:hover::after {
    scale: 7;
    opacity: 1;
  }

  .card1:hover .content .heading {
    color: #ffffff;
  }

  .card1:hover .content .para {
    color: #ffffff;
  }


  @media screen and (max-width: 600px) {
    .card1 content:not(:first-child) {display: none;}
    .card1 content.icon {
      float: left;
      display: block;
    }
  }

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .card1.responsive {position: relative;}
    .card1.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .cardeck.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }




  /*card 2*/


  .card2 {
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    width: 280px;
    padding: 36px;
    border-radius: 24px;
    overflow: hidden;
    line-height: 1.6;
    border: 2px solid #58cf6c;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    background-color: #d6efdd;
  }

  .card2 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    color: #000000;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card2 .content .heading {
    font-weight: 620;
    font-size: 30px;
    line-height: 1.3;
    z-index: 1;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card2 .content .para {
    z-index: 1;
    opacity: 0.8;
    font-size: 15px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card2::before {
    content: "";
    position: absolute;
    right: -5.2rem;
    top: -5.2rem;
    width: 10.4rem;
    height: 10.4rem;
    background: #0a3cff;
    z-index: 0;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card2::after {
    content: "";
    position: absolute;
    left: -5.2rem;
    bottom: -5.2rem;
    width: 10.4rem;
    height: 10.4rem;
    background: #08b013;
    z-index: 0;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card2:hover::before {
    scale: 7;
    opacity: 1;
  }

  .card2:hover::after {
    scale: 7;
    opacity: 1;
  }

  .card2:hover .content .heading {
    color: #ffffff;
  }

  .card2:hover .content .para {
    color: #ffffff;
  }


  @media screen and (max-width: 600px) {
    .card2 content:not(:first-child) {display: none;}
    .card2 content.icon {
      float: left;
      display: block;
    }
  }

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .card2.responsive {position: relative;}
    .card2.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .cardeck.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


  /*card 3*/

  .card3 {
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    width: 480px;
    padding: 36px;
    border-radius: 24px;
    overflow: hidden;
    line-height: 1.6;
    border: 3px solid #9bddb4;
    background-color: #b6d7c9;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card3 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: #000000;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card3 .content .heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    z-index: 1;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card3 .content .para {
    z-index: 1;
    opacity: 0.8;
    font-size: 18px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card3::before {
    content: "";
    position: absolute;
    right: -5.2rem;
    top: -5.2rem;
    width: 10.4rem;
    height: 10.4rem;
    background: #0a3cff;
    z-index: 0;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card3::after {
    content: "";
    position: absolute;
    left: -5.2rem;
    bottom: -5.2rem;
    width: 10.4rem;
    height: 10.4rem;
    background: #11c11c;
    z-index: 0;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card3:hover::before {
    scale: 7;
    opacity: 1;
  }

  .card3:hover::after {
    scale: 7;
    opacity: 1;
  }

  .card3:hover .content .heading {
    color: #ffffff;
  }

  .card3:hover .content .para {
    color: #ffffff;
  }


  @media screen and (max-width: 600px) {
    .card3 content:not(:first-child) {display: none;}
    .card3 content.icon {
      float: left;
      display: block;
    }
  }

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .card3.responsive {position: relative;}
    .card3.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .cardeck.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
